nav {
	display: inline-block;
	text-align: end;
	align-items: center;
	width: auto;
	margin-left: 100px;
}

h1 {
	display: inline-block;
	text-align: start;
	margin: 80px;
	font-family: 'Lexend', sans-serif;
	color: #007CFF;
	font-size: 50px;
	font-weight: 600px;
}

a {
	font-size: 18px;
	font-family: 'Lexend', sans-serif;
	color: #6F6F6F;
	font-weight: 400px;
	text-decoration: none;
	margin-right: 40px;
}

#button {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	background: #2096EC;
	border-radius: 8px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 5px 8px 5px #D3D3D3;
}