nav {
	display: inline-block;
	text-align: end;
	align-items: center;
	width: auto;
	margin-left: 100px;
}

a {
	font-size: 18px;
	font-family: 'Lexend', sans-serif;
	color: #6F6F6F;
	font-weight: 400px;
	text-decoration: none;
	margin-right: 40px;
}