h2 {
  display: block;
  text-align: start;
  font-family: 'Lexend', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 600px;
  text-shadow: 5px 8px 5px #D3D3D3;
  margin-top: -60px;
  margin-left: 85px;
}