h1 {
  display: inline-block;
  text-align: start;
  margin: 80px;
  font-family: 'Lexend', sans-serif;
  color: #2096EC;
  font-size: 50px;
  font-weight: 600px;
  text-shadow: 5px 8px 5px #D3D3D3;
}