.text-color {
  color: grey;
}

.wrapper-skill {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 30px;
}

.wrapper-skill .skill-tec {
  width: 430px;
  margin-bottom: 40px;
}

.wrapper-skill .skill-tec:nth-child(odd) {
  margin-right: 100px;
}

.wrapper-skill .progress-bar {
  width: 320px;
}

.main-title {
  display: inline-block;
  text-align: start;
  margin: 80px 100px 0 80px;
  font-family: 'Lexend', sans-serif;
  color: #2096EC;
  font-size: 50px;
  font-weight: 600px bold;
  text-shadow: 5px 8px 5px #D3D3D3;
}